dotenv
fastapi 
pydantic 
typing 
langchain-openai
langchain-core
langgraph
IPython
pdfplumber
pyyaml
beautifulsoup4
requests
openai
python-dotenv
uvicorn
streamlit
PyPDF2
python-docx
python-multipart
trafilatura
langchain
lxml_html_clean